body{
    background: url(../images/bg2.png) top center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.title{

}

svg{

}

text.text{
    stroke:black;
}

.answers div{
    margin-top: 3px;
}

.answers div .index{
    text-align: right;
}